@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap');

:root {
    --primaryFont: 'Lexend Exa', Arial, sans-serif;
}

body {
    font-family: var(--primaryFont);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
}

.transaction-form {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 30px;
    width: 420px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: var(--primaryFont);
}

.transaction-form:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
}

.transaction-form h1 {
    font-size: 25px;
    margin-bottom: 15px;
    color: #333;
    text-align: left; 
    font-weight: bold; 
}

.placeholder-dropdown,
input,
textarea {
    width: 95%;
    padding: 8px;
    font-size: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-family: var(--primaryFont);
    margin-bottom: 15px;
}

.input-inline {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.amount-input {
    flex: 1;
    padding: 4px;  
    font-size: 0.75rem; 
    width: 60%;
    margin-right: 10px; 
}

.add-button {
    width: 35%; 
    padding: 6px 10px; 
    font-size: 0.9rem; 
    color: #fff;
    background-color: #1A7431;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-family: var(--primaryFont);
    text-align: center;
    margin-top: -15px; 
    margin-left: auto; 
}

.add-button:hover {
    background-color: #4AD66D;
    transform: translateY(-2px);
}

#date {
    width: 100%;
    padding: 12px;
    font-size: 0.9rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-family: var(--primaryFont);
    margin-top: 20px; 
    margin-bottom: 20px; 
}

textarea {
    margin-top: 10px; 
    margin-bottom: 15px; 
}

.placeholder-dropdown {
    flex-grow: 1;
    max-width: 100%; 
    padding: 6px; 
    margin-right: 3px;
}

.transaction-form .placeholder-dropdown:last-of-type {
    margin-right: 3px; 
}

