@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap');

:root {
    --primaryFont: 'Lexend Exa', sans-serif;
}

body {
    font-family: var(--primaryFont);
    margin: 0;
    padding: 0;
    background-color: rgba(240, 240, 240, 1);
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
    height: 100vh; 
}

.content {
    max-width: 600px;
    width: 100%; 
    padding: 20px;
    border-radius: 10px;
    margin-right: 20px; 
}


form {
    max-width: 600px; 
    margin-bottom: 15px; 
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
}

label {
    font-family: var(--primaryFont);
    font-size: 12px; 
    display: block;
    margin-bottom: -10px; 
    position: relative;
    top: 20px; 
    margin-left: 6%; 
}

h2 {
    font-family: var(--primaryFont);
    font-size: 18px; 
    border-bottom: 2px solid #000000; 
    padding-bottom: 6px; 
    margin-bottom: 10px; 
}

p {
    font-family: var(--primaryFont);
    font-size: 14px; 
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 60%;
    padding: 8px;
    margin: 6px 0; 
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: var(--primaryFont);
    display: block;
    margin-left: 30%;
}

button {
    width: 100px; 
    height: 40px; 
    padding: 0; 
    border: none;
    background-color: #1A7431; 
    color: white;
    border-radius: 50px; 
    cursor: pointer;
    font-family: var(--primaryFont);
    font-size: 14px; 
    text-align: center; 
    line-height: 40px; 
    transition: background-color 0.3s ease; 
    margin-left: 80%; 
}

button.delete-btn {
    margin-top: -45px; 
}

button:hover {
    background-color: #4AD66D; 
}

label, h2, p {
    font-family: var(--primaryFont);
}
