@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap');

:root {
    --primaryFont: 'Lexend Exa', sans-serif;
    --primaryColor: #39914F;
    --secondaryColor: #4AD66D;
}

.heading {
    font-family: var(--primaryFont);
    font-size: 3rem;
    font-weight:bolder;
}

.subheading {
    font-family: var(--primaryFont);
    font-size: 1.7rem;
    font-weight:bolder;
}

.paragraph {
    font-family: var(--primaryFont);
    font-size: 1.1rem;
}
